$white: white;
$primary: #f0f5ff;
$gray-1: #fff;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-7: #8c8c8c;
$gray-10: #262626;
$geekblue-6: #2f54eb;
$geekblue-9: #061178;

$indent: 8px;

$body-font-family: 'Inter';

$sm: 360px;
$md: 833px;
$lg: 1440px;
