.custom-content {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $lg) {
        width: 752px;
    }

    &__key-points {
        color: $geekblue-9;
        padding: $indent * 2;
        margin-bottom: $indent * 3;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
    }
    &__key-points ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__motivation {
        margin-bottom: $indent * 2;
        padding: $indent * 2;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: $indent * 2;
        margin-bottom: $indent * 3;
        @media screen and (min-width: $md) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__action-card {
        flex-basis: 100%;
    }
    &__action-card h2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
        padding: 12px 24px;
        text-align: center;
        @media screen and (min-width: $md) {
            text-align: left;
        }
        @media screen and (min-width: $lg) {
            text-align: center;
        }
    }
    &__action-card div {
        border-top: 1px solid $gray-4;
        padding: 12px 0;
    }
    &__action-card .action-btn {
        height: inherit;
        color: $geekblue-6;
        font-weight: 400;
        font-size: 14px;
        line-height: 18.2px;
        path {
            color: $geekblue-6;
            fill: $geekblue-6;
        }
    }
}
.card-container {
    border-radius: 2px;
    background-color: $gray-1;
}
