.ant-layout .main-page {
    background-image: url('main-page-light.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media screen and (min-width: $md) {
        height: 100vh;
    }

    
    &__header {
        background-color: $primary;
        height: auto;
        padding: $indent * 2 $indent * 3;
    }
    &__content{
        display: flex;
        flex-direction: column;
        padding: $indent * 3 $indent * 2 0 $indent * 2;
    }
    &__footer{
        display: flex;
        flex-direction: column;
        padding: 0 $indent * 2 42px $indent * 2;
    }
}
